* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  background: linear-gradient(135deg, #153677, #4e085f);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.todo-app {
  background-color: rgb(230, 238, 236);
  width: 100%;
  max-width: 500px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  margin: 100px auto 20px;
}
.todo-app h2 {
  color: #002765;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dde0e6;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 15px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  /* background: #ff5945; */
  background: #ff4141;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  background-image: url(circle.png);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.cheak {
  color: #555;
  text-decoration: line-through;
}
ul li.cheak::before {
  background-image: url(right.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #dde0e6;
}
